<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="homeStyle.css"/>
    <title>Home page</title>
</head>
<body>
    <nav>
        
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><button class="login-button" href="#">Logout</button></li>
        </ul>
    </nav>
    <script src="homeJS.js"></script>
</body>
</html>